name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-test:
    strategy:
      fail-fast: true
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['8.2', '8.3']

    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}

    runs-on: ${{ matrix.operating-system }}

    steps:
      - uses: actions/checkout@v2
      - uses: php-actions/composer@master
        with:
          args: --ignore-platform-req=php
      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          php_version: ${{ matrix.php-versions }}
          version: 9
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          args: --coverage-text
      - name: Check PHP Version
        run: php -v
